* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1400px;
    margin: 0 auto;
}
.nav {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.692);
}
.logo {
    float: left;
}
.top-btn {
    float: right;
}
.logo a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
}
.h-left{
    float: left;
    
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}