.container-login-div {
    width: 600px;
    height: 500px;
    background-color: gray;
    opacity: 1;
    padding: 30px;
    border-radius: 1px;
}

.login-title {
    font-size: 40px;
    font-weight: normal;
}

